


span{
    background-color: rgb(77, 77, 124);
    color: #fff;
    border-radius: 35%;
    font-size: 15px;
}

.one{
    height: 300px;
} 

.container{
    margin: auto;
    margin-left: 200px;
    position:relative;
    top:100px;
}

